.perfil-user-profile {
  display: block;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 80%;
  margin: 0 auto; /* Esto centrará horizontalmente el div */
  background-color: #fff;
  margin-top: 1rem;
}

.perfil-user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin: 0 auto; /* Esto centrará horizontalmente el div */
  padding-left: 15%;
}

.perfil-user-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200px;
  margin: 0 auto; /* Esto centrará horizontalmente el div */
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 2rem;
}


.perfil-user-columnas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
 
}

.perfil-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.perfil-geekcoin {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 1%;
}

.perfil-user-profile h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  padding-left: 5%;
}

.perfil-user-profile h2 {
  text-decoration-line: underline;
  color: #000;
  padding-bottom: 1.2rem;
}


.perfil-user-profile p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.perfil-user-stats{
  width: 100%;
  max-width: 22%;
  background-color: #c8e0ee;
  
  border-radius:  20px;
  padding-bottom: 1rem;
}

.perfil-user-achievements{
  max-width: 40%;
  background-color: #c8e0ee;
  
  border-radius:  20px;
  padding-bottom: 1rem;
}

.perfil-user-compras{
  width: 100%;
  max-width: 35%;
  background-color: #c8e0ee;
  
  border-radius:  20px;
  padding-bottom: 1rem;
}

.perfil-user-stats h2,
.perfil-user-achievements h2,
.perfil-user-compras h2{
  display: flex;
  font-weight: bold;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.perfil-user-profile ul {
  list-style: none;
  padding-left: 15px;
  padding-bottom: 5px;
}

.perfil-user-profile li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 40px;
}

.perfil-user-profile button {
  cursor: pointer;
}

.perfil-user-profile button:hover {
  background-color: #333;
}

.perfil-user-profile button:active {
  transform: translateY(2px);
}

.perfil-user-profile .no-data {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .perfil-user-profile {
    padding: 4rem;
  }

  .perfil-user-header {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .perfil-avatar {
    margin-right: 2rem;
  }

  .perfil-user-profile h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .perfil-user-profile p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .perfil-user-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .perfil-user-stats,
  .perfil-user-achievements,
  .perfil-user-compras{
    flex-basis: calc(50% - 1rem);
    margin-bottom: 0;
    
  }

  .perfil-user-stats h2,
  .perfil-user-achievements h2,
  .perfil-user-compras h2{
    font-size: 2rem;
    margin-bottom: 0;
  }

  .perfil-user-stats li,
  .perfil-user-achievements li,
  .perfil-user-compras li{
    font-size: 1rem;
    margin-bottom: 0;
  }
}
