.sectionRanking {
  background-color: #0C8CE9;
  border-radius: 10px;
  padding: 2rem;
  max-width: 1000px; /* Aumenta el ancho máximo */
  margin: 0 auto;
}

.sectionRanking h2 {
  color: #FFF;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.scoreColor {
  color: black;
}

.sectionRanking table {
  width: 100%;
  border-collapse: collapse;
}

.sectionRanking th,
.sectionRanking td {
  border: 1px solid #FFF;
  padding: 0.5rem;
  text-align: center;
  color: #FFF;
  font-size: 1.2rem; /* Aumenta el tamaño de fuente en las celdas de la tabla */
}

.sectionRanking th {
  background-color: #FFC107;
  color: #000;
}

.sectionRanking tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

  