.sushigo {
  background-color: #f8f9fa;
  padding: 20px;
}

.sushigo-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.player-card {
  width: 100%;
  height: 100%;
}

.top-left {
  position: relative;
}

.top-right {
  position: relative;
}

.bottom-left {
  position: relative;
}

.bottom-right {
  position: relative;
}


/* Sushigo.css */
.player-card-top-left {
  background-color: rgba(75, 192, 192, 0.2);
  border: 1px solid rgba(75, 192, 192, 0.8);
}

.player-card-top-right {
  background-color: rgba(255, 159, 64, 0.2);
  border: 1px solid rgba(255, 159, 64, 0.8);
}

.player-card-bottom-left {
  background-color: rgba(153, 102, 255, 0.2);
  border: 1px solid rgba(153, 102, 255, 0.8);
}

.player-card-bottom-right {
  background-color: rgba(255, 206, 86, 0.2);
  border: 1px solid rgba(255, 206, 86, 0.8);
}
